{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  {% if user.is_authenticated %}
    <h2>You already logged in</h2>
  {% else %}
    <h2>Log in to your accaount.</h2>
  {% endif %}
{% endblock page_header %}
 
 {% block content %}
   {% if user.is_authenticated %}
     <p> -_- You sneaky imp -_- </p>
   {% else %}
     <form method="post" action="{% url 'users:login' %}" class="form">
       {% csrf_token %}
       {% bootstrap_form form %}
       {% buttons %}
         <button name="submit" class="btn btn-primary">Log in</button>
        {% endbuttons %}
     
        <input type="hidden" name="next"
          value="{% url 'learning_logs:index' %}" />
     </form>
   {% endif %}
  {% endblock content %}
